*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:monospace;
    font-weight: 400;
}
.logo{
    margin-left: -25px;
}
.menu_bar{
    background-color: black;
    height: auto;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0% 6%;
    position: fixed;
    z-index: 1000;
}
.menu_bar ul{
    list-style: none;
    display: flex;
}
.menu_bar ul li{
    align-items:center;
    display: flex;
    position: relative;
}
.menu_bar ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
}
.menu{
    margin-top: 15px;
    margin-left: -15px;
    transition: 0.25s;
}
.cart{
    margin-top: 5px;
    margin-right: 30px;
    margin-left: -10px;
    transition: 0.25s;
}
.menu:hover{
    width: 40px;
    height: 40px;
    margin-top:17px;
    margin-right: -5px;
    margin-left: -20px;   
}
.cart:hover{
    width: 40px;
    height: 40px;
    margin-right: 25px;
}
.menudown{
    display: none;
    z-index:100;
}
.menu_bar ul li:hover .menudown{
    display: block;
    position: absolute;
    left: -970%;
    top: 90%;
    background-color: black;
    z-index:100;
}
.menu_bar ul li:hover .menudown ul{
    display: block;
    margin: 14px;
    margin-right: -2px;
    z-index:100;
}
.menu_bar ul li:hover .menudown ul li{
    width: 160px;
    padding: 17px 0;

}
.menudown ul li a:hover{
    color:aqua;
}
.drop_down_menu{
    display: none;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu{
    display: block;
    position: absolute;
    left: -165px;
    bottom: -142px;
    background-color: black;
    text-decoration: none;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu ul{
    display: block;
    margin: 15px;
    margin-right: -10px;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu ul li:hover{
    width: 150px;
    padding: 17px 0;
    z-index:100;
}
.icon_left{
    float: left;
    margin-right: 10px;
    padding-top: 3px;
}
.car{
    float: left;
    margin-left: -5px;
    margin-top: -5px;
}
.img1{ 
    text-align: center;
    padding-top: 10%;
}
.center1{
    font-size: 6vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    text-align: center;
    align-items: center;
    align-content: center;
    opacity: 0;
    top: 55%;
    left: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    transition: all 0.25s;
}
.center{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    text-align: center;
    align-items: center;
    align-content: center;
    opacity: 0;
    top: 41%;
    left: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    transition: all 0.25s;
}
.i1{
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 12px 12px 12px;
    transition:all 0.25s;
    image-rendering:pixelated;
    transition: all 0.25s;
}
.i1:hover{
    box-shadow: 25px 25px 20px;
    filter: blur(20px);
}
.i1:hover~.center1{
    font-size: 4vh;
    opacity: 1;
    color: white;
}
.center1:hover{
    font-size: 4vh;
    opacity: 1;
    color: white;
}
.i2:hover~.center{
    font-size: 4vh;
    opacity: 1;
    color: white;
}
.center:hover{
    font-size: 4vh;
    opacity: 1;
    color: white;
}
.img2{
    text-align: center;
    margin-bottom: 30px;
    transition: 0.25s;
}
.i2{
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    transition: 0.15s;
    box-shadow: -12px 12px 12px;
    image-rendering:pixelated;
}
.i2:hover{
    box-shadow: -25px 25px 25px;
    filter: blur(10px);
}
.content{
    display: flex;
    justify-content: center;
    padding:5%;
    padding-top: 25%;
    flex-wrap: wrap;
}
.info{
    font-size: 16px;
    float: left;
    padding: 10%;
    display: block;
    word-spacing: -7px;
    line-height: 40px;
    margin-top: 5%;
    border-style: solid;
    border-radius: 10px;
    box-shadow: -12px 12px 12px;
    transition: 0.25s;
    margin-bottom: 30px;
}
.head{
    font-weight: lighter;
    font-size: 30px;
}
.head2{
    text-align:center;
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
}
.phone{
    text-decoration: none;
    color: black;
}
.form{
    margin-top: 30px;
    display: flex;
    flex-wrap:wrap;
    padding: 4%;    
    justify-content: center;
}
.inputInf{
    display: block;
    margin-top:10px;
    margin-left:15px;
    align-items: center;
    padding-top: 5%;
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.inputCt{
    display: block;
    margin-top:10px;
    margin-left:15px;
    padding-right: 10px;
    align-items: center;
    padding-top: 5%;
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.feedback{
    display: block;
    align-items: center;
    float: left;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.but{
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 5%;
}
.submit{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    transition: 0.15s;
}
.submit:hover{
    color: black;
    background-color: white;
    font-size: 18px;
    width:120px;
    height: 40px;
    transform: translateX(-10px) translateY(-5px);
    margin-bottom: -10px;
}
.submit:active{
    color: aliceblue;
}
.inp1{
    width: 220px;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: 0.25s;
}
.inp2{
    width: 220px;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: 0.25s;
}
.inp3{
    width: 220px;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: 0.25s;
}
.inp4{
    width: 220px;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: 0.25s;
}
.inp5{
    width: 220px;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: 0.25s;
}
.inp6{
    min-width: 220px;
    max-width: 400px;
    height: auto;
    min-height: 100px;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    font-size: 16px;
    border-width: 3px;
    text-overflow:clip;
}
.form1{
    position: relative;
    margin-bottom: 20px;
}
.form2{
    position: relative;
    margin-bottom: 20px;
}
.form4{
    position: relative;
    margin-bottom: 20px;
}
.form5{
    position: relative;
    margin-bottom: 20px;
}
.form6{
    position: relative;
    margin-bottom: 20px;
}
.fina{
    font-size: 15px;
    font-style: italic;
    transition: 0.25s;
}
.lana{
    font-size: 15px;
    font-style: italic;
    transition: 0.25s;
}
.pn{
    font-size: 15px;
    font-style: italic;
    transition: 0.25s;
}
.tt{
    font-size: 15px;
    font-style: italic;
    transition: 0.25s;
}
.ms{
    font-size: 15px;
    font-style: italic;
    transition: 0.25s;
    padding-left:5% ;
}
.borderform{
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
    box-shadow: 12px 12px 20px;
    transition: all 0.25s;
}
.borderform:hover{
    margin-left: -10px;
    padding-bottom: 10px;
    box-shadow: 20px 25px 35px;
}
.inp1:focus~.fina{
    font-size: 20px;
    text-shadow: -10px 10px 10px ;
}
.inp1:focus{
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
}
.inp2:focus~.lana{
    font-size: 20px;
    text-shadow: -10px 10px 10px ;
}
.inp2:focus{
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
}
.inp4:focus~.pn{
    font-size: 20px;
    text-shadow: -10px 10px 10px ;
}
.inp4:focus{
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
}
.inp5:focus~.tt{
    font-size: 20px;
    text-shadow: -10px 10px 10px ;
}
.inp5:focus{
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
}
.inp6:focus~.ms{
    font-size: 20px;
    text-shadow: -10px 10px 10px ;
}
.inp6:focus{
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)2;
}
.footer{
    justify-content: space-between;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10%;
    padding: 0% 6%;
}
.info1{
    color: white;
    padding-top: -50%;
    padding-left: -50%;
    padding-bottom: -50%;
}
.phone1{
    text-decoration: none;
    color: white;
}
.logo1{
    text-align: center;
    padding-bottom: 5%;
}
.link{
    font-size: 20px;
    color: white;
}
.info2{
    text-align: left;
    float: right;
    padding-top: 5%;
}
@media (min-width: 768px) {
    .content{
        display: flex;
        justify-content:space-around;
        padding:10%;
        padding-left: 10%;
        flex-wrap: nowrap;
        padding-top: 5%;
        width: 100%;
        align-items: center;
    }
    .info{
        font-size: 20px;
        float: left;
 
        padding: 7%;
        display: block;
        line-height: 40px;
        margin-top: 5%;
        border-style: solid;
        border-radius: 10px;
        box-shadow: -12px 12px 12px;
        margin-bottom: 30px;
    }
    .img1{
        padding-left: 5%;
        padding-top: 7%;
        align-items: center;
        text-align: center;
    }
    .i1{
        position: static;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
        box-shadow: 12px 12px 12px;
        transition:all 0.25s;
        image-rendering:pixelated;
        transition: all 0.25s;
        width: 100%;
        height: fit-content;
        width: fit-content;
    }
    .center1{
 
        position:static;
        opacity: 0;        
        transform: translateX(1%) translateY(-600%);
        font-weight:bold;
        transition: all 0.25s;
        font-size: 5vh;
    }
    .i1:hover{
        box-shadow: 25px 25px 20px;
        filter: blur(20px);
    }
    .i1:hover~.center1{
        font-size: 5vh;
        opacity: 1;
        color: white;
    }
    .center1:hover{
        font-size: 5vh;
        opacity: 1;
        color: white;
    }
    .center{
        position:absolute;
        text-align: center;
        align-items: center;
        align-content: center;
        opacity: 0;
        top: 41%;
        left: 50%;
        right: -50%;
        transform: translate(-50%, -50%);
        font-weight:bold;
        transition: all 0.25s;
    }
    .i2:hover~.center{
        font-size: 5vh;
        opacity: 1;
        color: white;
    }
    .center:hover{
        font-size: 5vh;
        opacity: 1;
        color: white;
    }
    .img2{
        text-align: center;
        margin-bottom: 30px;
        transition: 0.25s;
    }
    .i2{
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
        transition: 0.15s;
        box-shadow: -12px 12px 12px;
        image-rendering:pixelated;
    }
    .i2:hover{
        box-shadow: -25px 25px 25px;
        filter: blur(20px);
    }
    .borderform{
        border-style: solid;
        border-radius: 10px;
        margin-bottom: 10px;
        align-items: center;
        box-shadow: 12px 12px 20px;
        transition: all 0.25s;
    }
    .borderform:hover{
        margin-left: -10px;
        padding-bottom: 10px;
        box-shadow: 20px 25px 35px;
    }
    .inp1:focus~.name{
        font-size: 20px;
        text-shadow: -10px 10px 10px ;
    }
    .inp1:focus{
        border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
    }
    .inp6:focus~.name{
        font-size: 20px;
        text-shadow: -10px 10px 10px ;
    }
    .inp6:focus{
        border-image: linear-gradient(to right, #f7df6c, #1c8ce1)2;
    }
    .footer{
        justify-content: space-between;
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        padding: 5% 7%;
    }
    .info1{
        color: white;
        padding-top: -50%;
        padding-left: -50%;
        padding-bottom: -50%;
    }
    .phone1{
        text-decoration: none;
        color: white;
    }
    .logo1{
        text-align: center;
        padding-bottom: 5%;
    }
    .link{
        font-size: 20px;
        color: white;
    }
    .info2{
        text-align: left;
        float: right;
        padding-top: 5%;
    }
}
.form4 input[type=number]::-webkit-inner-spin-button,
.form4 input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

