*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    margin-left: -25px;
}
.bag{
    float:left;
    margin-right: 3px;
    padding-top: 1px;
    margin-top: 10px;
}
.BAG{
    margin-left: -80%;
    margin-top: -25%;
}
.COUNT{
    font-size: 12px;
    background-color: aliceblue;
    border-radius: 20%;
    color: black;
    width: 50%;
    padding: 2px;
}

.menu_bar{
    background-color: black;
    height: auto;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0% 6%;
    position: fixed;
    z-index: 1000;
}
.menu_bar ul{
    list-style: none;
    display: flex;
}
.menu_bar ul li{
    align-items:center;
    display: flex;
    position: relative;
}
.menu_bar ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
}
.menu{
    margin-top: 15px;
    margin-left: -15px;
    transition: 0.25s;
}
.cart{
    margin-top: 5px;
    margin-right: 30px;
    margin-left: -10px;
    transition: 0.25s;
}
.menu:hover{
    width: 40px;
    height: 40px;
    margin-top:17px;
    margin-right: -5px;
    margin-left: -20px;   
}
.cart:hover{
    width: 40px;
    height: 40px;
    margin-right: 25px;
}
.menudown{
    display: none;
    z-index:100;
}
.menu_bar ul li:hover .menudown{
    display: block;
    position: absolute;
    left: -970%;
    top: 90%;
    background-color: black;
    z-index:100;
}
.menu_bar ul li:hover .menudown ul{
    display: block;
    margin: 14px;
    margin-right: -2px;
    z-index:100;
}
.menu_bar ul li:hover .menudown ul li{
    width: 160px;
    padding: 17px 0;

}
.menudown ul li a:hover{
    color:aqua;
}
.drop_down_menu{
    display: none;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu{
    display: block;
    position: absolute;
    left: -165px;
    bottom: -142px;
    background-color: black;
    text-decoration: none;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu ul{
    display: block;
    margin: 15px;
    margin-right: -10px;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu ul li:hover{
    width: 150px;
    padding: 17px 0;
    z-index:100;
}
.icon_left{
    float: left;
    margin-right: 10px;
    padding-top: 3px;
}
.container{
    padding: 5px;
    max-width: 62rem;
    margin: 0 auto;
    padding-top: 10px;
}
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto ;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
}
.slider::-webkit-scrollbar {
    display: none;
}
.slider img{
    flex:1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    animation: slide 16s infinite;
    transition: all 0.25s;
}
.slider img:hover{
    filter:blur(3px) grayscale(70%);
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
}
.footer{
    justify-content: space-between;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 7%;
}
.info1{
    color: white;
    padding-top: -50%;
    padding-left: -50%;
    padding-bottom: -50%;
}
.phone1{
    text-decoration: none;
    color: white;
}
.logo1{
    text-align: center;
    padding-bottom: 5%;
}
.link{
    font-size: 20px;
    color: white;
}
.info2{
    text-align: left;
    float: right;
    padding-top: 5%;
}

.content{
    display: block;
    align-items: center;
    text-align: center;
    width: 100%;
    padding:0% 5%;
}
.cont1{
    display:block;
    justify-content: space-around;
    width: 100%;
    padding: 0% 1%;
    flex-wrap: wrap;
}
.image1{
    padding: 1%;
    padding-top: 2%;
    position:relative;
}
.image1 img{
    width: 100%;
    border-radius: 2%;
    border-style: solid;
    box-shadow: -30px 20px 50px;
}
.cent1{
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    width: 50%;
    top: 95%;
    left: 25%;
    right: 25%;
    transform: translateY(-300%) translateX(-1%);
    background-color: black;
    color: white;
    padding: 2%;
    border-radius: 7px;
    word-break: none;
    transition: all 0.25s;
}
.cent1:hover {
    margin-top: -10px;
    cursor: pointer;
    background-color: white;
}
.cent1 a{
    text-decoration:none; 
    color:white;
    transition: 0.25s;
}
.cent1:hover a {
    color: black;
}
.image2{
    padding: 1%;
    position: relative;
}
.image2 img{
    width: 100%;
    border-radius: 2%;
    border-style: solid;
    box-shadow: 30px 20px 50px;
}
.cent2{
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    width: 40%;
    top: 95%;
    left: 30%;
    right: 25%;
    transform: translateY(-310%) translateX(0%);
    background-color: black;
    color: white;
    padding: 2%;
    border-radius: 7px;
    word-break: none;
    transition: all 0.25s;
}
.cent2:hover {
    margin-top: -10px;
    cursor: pointer;
    background-color: white;
}
.cent2 a{
    text-decoration:none; 
    color:white;
    transition: 0.25s;
}
.cent2:hover a {
    color: black;
}
.cont2{
    display: block;
    padding: 1%;
}
.image3{
    padding: 1%;
    position: relative;
}
.image3 img{
    width: 100%;
    border-radius: 2%;
    border-style: solid;
    box-shadow: 0px 40px 50px;
}
.cent3{
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    width: 40%;
    top: 90%;
    left: 30.5%;
    right: 25%;
    transform: translateY(-340%) translateX(0%);
    background-color: black;
    color: white;
    padding: 1%;
    border-radius: 7px;
    word-break: none;
    transition: all 0.25s;
}
.cent3:hover {
    margin-top: -10px;
    cursor: pointer;
    background-color: white;
}
.cent3 a{
    text-decoration:none; 
    color:white;
    transition: 0.25s;
}
.cent3:hover a {
    color: black;
}
.texxt{
    display: block;
    padding: 5% 10%;
    justify-content: space-between;
}
.texxt1{
    line-height: 30px;
    padding: 2%;
}
@media (min-width: 768px) {
    body{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .logo{
        margin-left: -25px;
    }
    .bag{
        float:left;
        margin-right: 3px;
        padding-top: 1px;
        margin-top: 10px;
    }
    .BAG{
        margin-left: -70%;
        margin-top: -30%;
    }
    .menu_bar{
        background-color: black;
        height: auto;
        width:100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0% 6%;
        position: fixed;
        z-index: 1000;
    }
    .menu_bar ul{
        list-style: none;
        display: flex;
    }
    .menu_bar ul li{
        align-items:center;
        display: flex;
        position: relative;
    }
    .menu_bar ul li a{
        color:white;
        text-decoration: none;
        font-size: 20px;
        transition: all 1s;
    }
    .menu{
        margin-top: 15px;
        margin-left: -15px;
        transition: 0.25s;
    }
    .cart{
        margin-top: 5px;
        margin-right: 30px;
        margin-left: -10px;
        transition: 0.25s;
    }
    .menu:hover{
        width: 35px;
        height: 35px;
        margin-top:17px;
        margin-right: -5px;
        margin-left: -15px;   
        transform: translateX(-2px);
    }
    .cart:hover{
        width: 40px;
        height: 40px;
        margin-right: 25px;
    }
    .menudown{
        display: none;
        z-index:100;
    }
    .menu_bar ul li:hover .menudown{
        display: block;
        position: absolute;
        left: -970%;
        top: 90%;
        background-color: black;
        z-index:100;
    }
    .menu_bar ul li:hover .menudown ul{
        display: block;
        margin: 14px;
        margin-right: -2px;
        z-index:100;
    }
    .menu_bar ul li:hover .menudown ul li{
        width: 160px;
        padding: 17px 0;
    
    }
    .menudown ul li a:hover{
        color:aqua;
    }
    .drop_down_menu{
        display: none;
        z-index:100;
    }
    .menudown ul li:hover .drop_down_menu{
        display: block;
        position: absolute;
        left: -165px;
        bottom: -142px;
        background-color: black;
        text-decoration: none;
        z-index:100;
    }
    .menudown ul li:hover .drop_down_menu ul{
        display: block;
        margin: 15px;
        margin-right: -10px;
        z-index:100;
    }
    .menudown ul li:hover .drop_down_menu ul li:hover{
        width: 150px;
        padding: 17px 0;
        z-index:100;
    }
    .icon_left{
        float: left;
        margin-right: 10px;
        padding-top: 3px;
    }
    .container{
        padding: 1px;
        max-width: 90rem;
        margin: 0 auto;
    }
    .slider-wrapper{
        position: relative;
        max-width: 100%;
        margin: 0 auto;
        padding: 2%;
    }
    .slider{
        display: flex;
        aspect-ratio: 16/9;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0px 30px 50px;
        border-radius: 0.5rem;
    }
    .slider::-webkit-scrollbar {
        display: none;
    }
    .slider img{
        flex:1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
        animation: slide 16s infinite;
        filter: grayscale(7100%);
        transition: all 0.25s;
    }
    .slider img:hover{
        filter:grayscale(0%);
    }
    @keyframes slide {
        0%{
            transform: translateX(0);
        }
        25%{
            transform: translateX(0);
        }
        30%{
            transform: translateX(-100%);
        }
        50%{
            transform: translateX(-100%);
        }
        55%{
            transform: translateX(-200%);
        }
        75%{
            transform: translateX(-200%);
        }
    }
    .content{
        display: block;
        align-items: center;
        text-align: center;
        width: 100%;
        padding:0% 10%;
    }
    .cont1{
        display:flex;
        justify-content: space-around;
        width: 100%;
        padding: 0% 1%;
        flex-wrap: nowrap;
    }
    .image1{
        padding: 1%;
        padding-top: 2%;
        position:relative;
    }
    .image1 img{
        width: 100%;
        border-radius: 2%;
        border-style: solid;
        box-shadow: -30px 20px 50px;
    }
    .cent1{
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        width: 50%;
        top: 86%;
        left: 25%;
        right: 25%;
        transform: translateY(-300%) translateX(-1%);
        background-color: black;
        color: white;
        padding: 2%;
        border-radius: 7px;
        word-break: none;
        transition: all 0.25s;
    }
    .cent1:hover {
        margin-top: -10px;
        cursor: pointer;
        background-color: white;
    }
    .cent1 a{
        text-decoration:none; 
        color:white;
        transition: 0.25s;
    }
    .cent1:hover a {
        color: black;
    }
    .image2{
        padding: 1%;
        position: relative;
    }
    .image2 img{
        width: 100%;
        border-radius: 2%;
        border-style: solid;
        box-shadow: 30px 20px 50px;
    }
    .cent2{
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        width: 40%;
        top: 87%;
        left: 30%;
        right: 25%;
        transform: translateY(-310%) translateX(0%);
        background-color: black;
        color: white;
        padding: 2%;
        border-radius: 7px;
        word-break: none;
        transition: all 0.25s;
    }
    .cent2:hover{
        margin-top: -10px;
        cursor: pointer;
        background-color: white;
    }
    .cent2 a{
        text-decoration:none; 
        color:white;
        transition: 0.25s;
    }
    .cent2:hover a {
        color: black;
    }
    .cont2{
        display: block;
        padding: 1%;
    }
    .image3{
        padding: 1%;
        position: relative;
    }
    .image3 img{
        width: 100%;
        border-radius: 2%;
        border-style: solid;
        box-shadow: 0px 40px 50px;
    }
    .cent3{
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        width: 40%;
        top: 77%;
        left: 30.5%;
        right: 25%;
        transform: translateY(-340%) translateX(0%);
        background-color: black;
        color: white;
        padding: 1%;
        border-radius: 7px;
        word-break: none;
        transition: all 0.25s;
    }
    .cent3:hover{
        margin-top: -10px;
        cursor: pointer;
        background-color: white;
    }
    .cent3 a{
        text-decoration:none; 
        color:white;
        transition: 0.25s;
    }
    .cent3:hover a {
        color: black;
    }
    .texxt{
        display: flex;
        padding: 3% 10%;
        justify-content: space-between;
    }
    .texxt1{
        line-height: 30px;
    }

    .footer{
        justify-content: space-between;
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        padding: 5% 7%;
    }
    .info1{
        color: white;
        padding-top: -50%;
        padding-left: -50%;
        padding-bottom: -50%;
    }
    .phone1{
        text-decoration: none;
        color: white;
    }
    .logo1{
        text-align: center;
        padding-bottom: 5%;
    }
    .link{
        font-size: 20px;
        color: white;
    }
    .info2{
        text-align: left;
        float: right;
        padding-top: 5%;
    }
}