*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    margin-left: -25px;
}
.bag{
    float:left;
    margin-right: 3px;
    padding-top: 1px;
    margin-top: 10px;
}
.BAG{
    margin-left: -45%;
    margin-top: -30%;
}
.menu_bar{
    background-color: black;
    height: auto;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0% 6%;
    position: fixed;
    z-index: 1000;
}
.menu_bar ul{
    list-style: none;
    display: flex;
}
.menu_bar ul li{
    align-items:center;
    display: flex;
    position: relative;
}
.menu_bar ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
}
.menu{
    margin-top: 15px;
    margin-left: -15px;
    transition: 0.25s;
}
.cart{
    margin-top: 5px;
    margin-right: 30px;
    margin-left: -10px;
    transition: 0.25s;
}
.menu:hover{
    width: 40px;
    height: 40px;
    margin-top:17px;
    margin-right: -5px;
    margin-left: -20px;   
}
.cart:hover{
    width: 40px;
    height: 40px;
    margin-right: 25px;
}
.menudown{
    display: none;
    z-index:100;
}
.menu_bar ul li:hover .menudown{
    display: block;
    position: absolute;
    left: -970%;
    top: 90%;
    background-color: black;
    z-index:100;
}
.menu_bar ul li:hover .menudown ul{
    display: block;
    margin: 14px;
    margin-right: -2px;
    z-index:100;
}
.menu_bar ul li:hover .menudown ul li{
    width: 160px;
    padding: 17px 0;

}
.menudown ul li a:hover{
    color:aqua;
}
.drop_down_menu{
    display: none;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu{
    display: block;
    position: absolute;
    left: -165px;
    bottom: -142px;
    background-color: black;
    text-decoration: none;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu ul{
    display: block;
    margin: 15px;
    margin-right: -10px;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu ul li:hover{
    width: 150px;
    padding: 17px 0;
    z-index:100;
}
.icon_left{
    float: left;
    margin-right: 10px;
    padding-top: 3px;
}
.footer{
    justify-content: space-between;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}
.info1{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: -50%;
    padding-left: -50%;
    padding-bottom: -50%;
}
.phone1{
    text-decoration: none;
    color: white;
}
.logo1{
    text-align: center;
    padding-bottom: 5%;
}
.link{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
}
.info2{
    text-align: left;
    float: right;
    padding-top: 5%;
}